.header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 12px 0;

    &__container {}

    &__content {
        display: flex;
        align-items: center;
        gap: clamp(0.625rem, -20.154rem + 33.51vw, 4.563rem);
        padding: 10px;
        border-radius: 100ch;
        background-color: #fff;

        @media (max-width: 680px) {
            justify-content: space-between;
        }
    }

    &__nav {
        .nav__list {
            gap: clamp(0.813rem, -8.422rem + 14.89vw, 2.563rem);
        }
        
        @media (max-width: 680px) {
            display: none;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: auto;

        @media (max-width: 680px) {
            margin-left: 0;
        }
    }

    &__register {
        display: inline-flex;
        color: #3C3E50;
        font-size: 13px;
        font-weight: 400;
        line-height: 104.4%; /* 13.572px */
        transition: color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: var(--accent1-color);
            }
        }

        @media (max-width: 330px) {
            display: none;
        }
    }

    &__login {
        background-color: var(--accent2-color);
        padding: 8px 15px;
        gap: 7px;
        font-size: 12px;
        font-weight: 500;
        line-height: 104.4%; /* 12.528px */
        transition: background-color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--accent1-color);
            }
        }
    }
}