.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 14px 10px 20px 10px;
    z-index: 2;
    display: none;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgba(34, 37, 59, 0.90) 0%, rgba(34, 37, 59, 0.90) 100%);

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 256px;
        overflow: auto;
        padding: 53px 31px;
        background: white;
        border-radius: 20px;
        transition: 0.5s;
    }

    &._active {
        display: flex;
    }

    &__btn {
        display: none;

        @media (max-width: 680px) {
            display: flex;
        }
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 18px;
    }

    &__list {
        flex-direction: column;
    }

    &__item {
        color: #22253B;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px; /* 20px */

        a {
            display: inline-flex;
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--accent1-color);
            }
        }
    }

    &__login {
        padding: 15px 31px;
        background-color: var(--accent2-color);
        span {
            font-size: 15px;
            font-weight: 500;
            line-height: 100%; /* 15.66px */
        }
        transition: background-color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--accent1-color);
            }
        }
    }
}