.nav {
    display: flex;

    &__list {
        display: flex;
    }

    &__item {
        color: #22253B;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 104.4%; /* 13.572px */
        transition: color 0.3s;

        &:hover {
            color: var(--accent1-color);
        }
    }
}