@import 'base/reset';
@import 'base/fonts';



:root {
    --accent1-color: #F15525;
    --accent2-color: #38BFF2;
    --accent2-light-color: #EAF2F5;
}

html, body {
    font-family: 'Gilroy', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    background-color: #FFF;
    box-sizing: border-box;
    background-color: var(--accent2-light-color);

    &._no-scroll {
        overflow: hidden;
    }
}

.wrapper {
    overflow: hidden;
}

[class *= "__container"] {
    box-sizing: border-box;
    max-width: 1180px;
    min-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    display: inline-flex;
}

.button {
    display: inline-flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 27px 53px;
    background-color: var(--accent1-color);
    border-radius: 100ch;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.688%; /* 17.404px */
    letter-spacing: -0.54px;
    svg path {
        stroke: #FFF;
    }

    &:hover {
        background-color: var(--accent2-color);
    }
}

@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/menu';